.header {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 80px;
    padding: 0 20px;
    box-shadow: 0px 0px 20px #000000;
}

.header .contenedor__nav {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header h2 {
    text-transform: uppercase;
    font-family: var(--oswald);
    font-size: 2rem;
}

.header .navbar {
    display: flex;
    gap: 20px;
}

.header a {
    position: relative;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.header a.active {
    color: var(--active);
}

.header a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    background-color: var(--active);
    width: 100%;
    height: 2px;
    border-radius: 10px;
    transform: scaleX(0);
    transition: all .3s ease;
}

.header a.active::after {
    transform: scaleX(1);
}

.header a:hover:not(.active)::after {
    transform: scaleX(1);
    height: 1px;
}