<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <title>Proyectos | Jhomar Mendieta</title>
</head>

<body>
    <div class="sombra"></div>
    <header class="header">
        <div class="contenedor__nav">
            <h2 class="logotext">portafolio jhomar</h2>
            <nav class="navbar">
                <a href="../views/" class="active">Proyectos</a>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="contenedor__proyectos">
            <h2 class="titulo_page">Proyectos personales</h2>
            <div class="proyecto">
                <div class="imagen__proyecto">
                    <img src="../assets/img/calculadora__portada.png" alt="Imagen del proyecto">
                </div>
                <div class="datos__proyecto">
                    <p class="titulo">Calculadora para niños</p>
                    <p class="descripcion">
                        Esta es una calculadora que cumple con las funciones basicas para niños 
                        de primaria, tiene una interfaz intuitiva y es de coleres agradables a la 
                        vista
                    </p>
                    <div class="contenedor__proyecto">
                        <div class="lenguajes">
                            <p class="l">Hecho con: </p>
                            <p>html</p>
                            <p>css</p>
                            <p>JavaScript</p>
                        </div>
                        <div class="boton">
                            <a href="proyecto/calculadora.html">¡Vamos a verlo!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proyecto">
                <div class="imagen__proyecto">
                    <img src="../assets/img/Ga/galeria__portada.png" alt="Imagen del proyecto">
                </div>
                <div class="datos__proyecto">
                    <p class="titulo">Galeria de imagenes</p>
                    <p class="descripcion">
                        Una galeria de imagenes simple y minimalista en la cual se puede ver las 
                        imagenes en conjunto o una por una
                    </p>
                    <div class="contenedor__proyecto">
                        <div class="lenguajes">
                            <p class="l">Hecho con: </p>
                            <p>html</p>
                            <p>css</p>
                            <p>JavaScript</p>
                        </div>
                        <div class="boton">
                            <a href="proyecto/galeria.html">¡Vamos a verlo!</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="titulo_page">Proyectos grupales</h2>
            <div class="proyecto">
                <div class="imagen__proyecto">
                    <img src="../assets/img/RE/RA__portada.png" alt="Imagen del proyecto">
                </div>
                <div class="datos__proyecto">
                    <p class="titulo">RutaEducativa</p>
                    <p class="descripcion">
                        Un proyecto acerca de una API que busca información de instituciones 
                        educativas por medio de las APIs de Google Maps para mostrarselas al 
                        usuario. Este podra buscar las instituciones por medio del nombre,
                        dirección o localidad.
                    </p>
                    <div class="contenedor__proyecto">
                        <div class="lenguajes">
                            <p class="l">Hecho con: </p>
                            <p>html</p>
                            <p>css</p>
                            <p>JavaScript</p>
                        </div>
                        <div class="boton">
                            <a href="proyecto/RutaEducativa.html">¡Vamos a verlo!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proyecto">
                <div class="imagen__proyecto">
                    <img src="../assets/img/PU/PU__portada.png" alt="Imagen del proyecto">
                </div>
                <div class="datos__proyecto">
                    <p class="titulo">PrintUp</p>
                    <p class="descripcion">
                        Está aplicación viene a resolver que los alumnos no puedan salir del aula para sacar fotocopias, agilizando el proceso de sacarlas.
                    </p>
                    <div class="contenedor__proyecto">
                        <div class="lenguajes">
                            <p class="l">Hecho con: </p>
                            <p>html</p>
                            <p>css</p>
                            <p>JavaScript</p>
                            <p>php</p>
                        </div>
                        <div class="boton">
                            <a href="proyecto/PrintUp.html">¡Vamos a verlo!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proyecto">
                <div class="imagen__proyecto">
                    <img src="../assets/img/TAMI/TAMI__portada.png" alt="Imagen del proyecto">
                </div>
                <div class="datos__proyecto">
                    <p class="titulo">TAMI</p>
                    <p class="descripcion">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione natus 
                        quos aliquid asperiores autem! Ipsam sequi facere perspiciatis quasi rem.
                    </p>
                    <div class="contenedor__proyecto">
                        <div class="lenguajes">
                            <p class="l">Hecho con: </p>
                            <p>html</p>
                            <p>css</p>
                            <p>JavaScript</p>
                            <p>php</p>
                        </div>
                        <div class="boton">
                            <a href="#">¡Vamos a verlo!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <p>Este es un footer sin terminar</p>
    </footer>
</body>

</html>