<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/proyecto.css">
    <title>Document</title>
</head>

<body>
    <div class="sombra"></div>
    <header class="header">
        <div class="contenedor__nav">
            <h2 class="logotext">portafolio jhomar</h2>
            <nav class="navbar">
                <a href="#" class="active">Proyectos</a>
            </nav>
        </div>
    </header>
    <main class="main_proyecto">
        <div class="titulo_proyecto">
            <h1>Google Maps</h1>
        </div>
        <div class="descripcion_general">
            <h3>Descrición del proyecto</h3>
            <p>
                Una galeria de imagenes simple y minimalista en la cual se puede
                ver las imagenes en conjunto o una por una
            </p>
            <a href="../../proyectos/maps/" class="demo">Ver proyecto</a>
        </div>
        <h3 class="tit_img">Imagenes del proyecto</h3>
        <div class="cont_datos">
            <img src="../assets/img/maps/1.jpg" alt="">
            <p>
                En esta imagen se observa un contenedor con la integración de un mapa de google interactivo, y a su derecha botones para reproducir musica
            </p>
        </div>
    </main>
    <footer class="footer">
        <p>Este es un footer sin terminar</p>
    </footer>
</body>

</html>