main.main {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - (80px + 100px));
    margin: 200px 0 0 0;
    padding: 40px 20px;
    box-shadow: 0px 0px 100px #000000;
}

main .contenedor__proyectos {
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    margin: 0 auto;
}
main .contenedor__proyectos .proyecto{
    width: 100%;
    height: 300px;
    border-top: 1px solid #fff;
    padding: 30px 20px;
    display: flex;
    gap: 20px;
    color: #fff;
}
main .contenedor__proyectos .proyecto:last-child{
    border-bottom: 1px solid #fff;
}

/* Imagen */
main .contenedor__proyectos .proyecto .imagen__proyecto{
    width: 480px;
    height: 100%;
    overflow: hidden;

}
main .contenedor__proyectos .proyecto .imagen__proyecto img{
    height: 100%;
    object-fit: cover;
}

/* Datos */
main .contenedor__proyectos .proyecto .datos__proyecto{
    width: calc(100% - (40px + 40px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .contenedor__proyectos .proyecto .datos__proyecto .titulo{
    height: 100px;
    font-size: 3rem;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
}
main .contenedor__proyectos .proyecto .datos__proyecto .lenguajes{
    display: flex;
    align-items: center;
    gap: 10px;
}
main .contenedor__proyectos .proyecto .datos__proyecto .lenguajes .l{
    padding: 5px 15px 5px 10px;
    background-color: #505050;
    border-radius: 5px;
}